.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: var(--heart-fill-initial);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: var(--heart-fill-initial);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .core {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-like-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-like-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-like-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-like-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-like-color);
  transition: fill 0.3s linear 0.06s;
}

@keyframes heart-bounce {
  0% {
    transform: translate(
        var(--heart-translate-offset),
        var(--heart-translate-offset)
      )
      scale(1);
  }
  50% {
    transform: translate(
        var(--heart-translate-offset),
        var(--heart-translate-offset)
      )
      scale(1.25);
  }
  100% {
    transform: translate(
        var(--heart-translate-offset),
        var(--heart-translate-offset)
      )
      scale(1);
  }
}

.like-icon {
  transform-origin: center;
}
.like-icon .heart {
  transform: translate(
    var(--heart-translate-offset),
    var(--heart-translate-offset)
  );
  transform-origin: center center;
}

.like-icon.is-liked .heart {
  animation: heart-bounce 0.3s ease-in 0.1s 1;
}

@keyframes sparks-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.like-icon .sparks {
  opacity: 0;
}
.like-icon.is-liked .sparks {
  fill: var(--heart-like-color);
  animation: sparks-flash 0.3s ease-in 0.3s 1;
}
